<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
        <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static',
	filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
    <title>قدرات الحسين | أدخل معلوماتك</title>
    <base href="assets/">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"> 
                     <img src="logo.png" width="30" height="30" alt="">
                     قدرات الحسين بن علي   
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">الرئيسية <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">أخرى</a>
                    </li>
                  </ul>
                </div>
              </nav>
        
      <div class="container">
          <br>
            <form method='POST'>
		    {{ form.hidden_tag() }}
                    <div class="form-group">
                      <label for="exampleInputEmail1">الأسم الرباعي</label>
                      {{ form.name(class="form-control", id="exampleInputEmail", aria_describedby="emailHelp") }}
		      
		    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">الرقم الأكاديمي</label>
                      {{ form.academic_number(class="form-control", id="exampleInputPassword1") }}
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1"> رقم الهوية </label>
                            {{ form.ID_number(class="form-control", id="exampleInputPassword1") }}
                          </div>
                    <div class="form-group">
                            <label for="exampleFormControlSelect1">المحاولة رقم ....</label>                            
                            {{ form.number_of_try(class="form-control", id="exampleFormControlSelect1") }}
                          </div>
                          <div class="form-group">
                                <label for="exampleInputPassword1">  درجة القسم الكمي  </label>                                
                                {{ form.math_degree(class="form-control", id="exampleInputPassword1") }}
                              </div>
                              <div class="form-group">
                                    <label for="exampleInputPassword1">  درجة اللفظي  </label>                                    
                                    {{ form.language_degree(class="form-control", id="exampleInputPassword1") }}
                                  </div><div class="form-group">
                                        <label for="exampleInputPassword1">  المجموع الكلي </label>                                        
                                        {{ form.degrees_sum(class="form-control", id="exampleInputPassword1") }}
                                      </div>
                    <div class="form-group form-check"> 
                        <label class="form-check-label" for="exampleCheck1"> أشهد  أن جميع معلوماتي صحيحية</label>                      
                      {{ form.check_field(class="form-check-input", id="exampleCheck1") }}
                     
                    </div>
                    
                    
                    {{ form.submit(class="btn btn-outline-dark") }}
                  </form>
         </div>
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
